.image__favicon--small {
	background: antiquewhite;
    padding: .3em;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
}

label.sort_school_options {
    display: block;
    margin: .5em;
    padding: .3em;
}

label.sort_school_options:hover {
    background: aliceblue;
}

.sort_school_options input {
    margin-right: 1em;
}


