.post_sh_name {
	    margin-left: auto;
	    font-size: 14px;
	    border-top: 1px solid;
	    border-bottom: 1px solid;
	    padding: .4em 1em;
	    border-radius: 3px;
}

.post_header.is-flex-mobile {
	line-height: .9em;
    margin: .5em 0;
}

@media screen and (max-width: 768px){
	.post_header.is-flex-mobile {
	    align-items: center;
	}
}