.school-card {
	cursor: pointer;
}


@media screen and (max-width: 768px){
	.post_header.is-flex-mobile {
	    align-items: center;
	}

	.school-card {
		box-shadow: 0 3px 8px 0 rgba(36,37,38,.14);
		border-radius: .5rem;
		padding: 1.25rem 1.5rem;
	}
}
