.mt-small {
	margin-top: 1em;
}

.mt-medium {
	margin-top: 2em;
}

.mt-large {
	margin-top: 4em;
}

.mt-xlarge {
	margin-top: 5em;
}

.mb-small {
	margin-bottom: 1em;
}

.mb-medium {
	margin-bottom: 2em;
}

.mb-large {
	margin-bottom: 4em;
}

.mb-xlarge {
	margin-bottom: 5em;
}

.pt-all {
	padding: 1.256em;
}

.pt-small {
	pading-top: 1em;
}

.pt-large {
	padding-top: 2em;
}

.justify-content-all {
	justify-content: space-between;
}


@media(max-width: 1023px) {
	.justify-content-touch {
		justify-content: space-between;
	}	
}

.remove-max-width .columns {
	max-width: unset;
}

.wrap-elements {
	flex-wrap: wrap;
}