<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>practical</title>
</head>
<body>
	
	<!-- make heading -->
	<h1>Lorem ipsum dolor sit amet,</h1> 

	<!-- Make text bold -->
	<strong>consectetur adipisicing elit, sed do eiusmod</strong>

	<!-- make italics -->
	<i>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</i> <!-- breake text--><br> Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, <u>sunt in culpa qui officia deserunt mollit anim id est laborum.</u>

	<a href="www.facebook.com">Go To Facebook</a>
	<a href="www.okoro.com">GO TO OKORO</a>

</body>
</html>